body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 3%
}

form input {
  display: block;
  margin: 5px;
}

.item {
  display: block;
  margin: 3px;
}

#email {
  width: 100%;
  text-align: center
}
